* {
    box-sizing: border-box;
    /* font-size: 0px; */
    /* margin: 0; */
    /* padding: 0; */

}
body {
    margin: 0;
    padding: 0;
}
nav {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    background-color: #2b2b2b;
    z-index: 0;
    /* width: 100%; */
}
form{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
.searchBar {
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px solid black;
    z-index: 1;
    background-color: white;
    font-weight: 600
    
}
.search {
    /* grid-column-start: 2;
    grid-column-end: 3; */
    background-color: white;
    font-size: 0;
    width: 36px
}
.navBar {
    background-color: white;
    margin: 8px;
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    justify-content: space-around;
    text-align: center
}
#searchCircle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 9px;
    left: 140px;
}
#searchCircle2 {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: white;
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 143px;
}
#searchLine{
    height: 8px;
    width: 2px;
    background: black;
    position: absolute;
    z-index: 1;
    top: 24px;
    left: 160px;
    transform: skew(52deg, -50deg);
}
#homeTag {
    color: white;
    grid-column: 2 / 3;
    grid-row: 1;
    display: flex;
    align-self: center;
    justify-self: center;
    font-weight: 900;
    font-size: 36px;
}
#profile {
    grid-column: 4 / 5;
}
a:visited {
    color: black;
}
#home {
    grid-column: 3 / 4;
}
#accountSignIn {
    grid-column: 3 / 4;
    /* background-color: white; */
    grid-row: 1;
    /* z-index: 1; */
    display: flex;
    justify-content: center;
    align-self: center;
    /* width: 96px; */
    margin: 0;
    padding: 0;    
}
#or {
    display: flex;
    align-self: center;
    color: white;
}
#or::placeholder {
    color: black;
}
#logIn {
    background-color: white;
    height: 40px;
    width: 40px;
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: 900;
    border: 2px solid black;
}
#signUp {
    background-color: white;
    height: 40px;
    width: 40px;
    color: black;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: 900;
    font-size: 16px;
    border: 2px solid black;
}





/* @media (min-width: 425px){
    
} */